@model CarRental.ViewModels.Account.RegisterVM
@{
    ViewData["Title"] = "Rejestracja";
}
<div class="col-md-12">
    <form asp-action="Register" class="form-panel">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row offset-md-3 col-md-6">
            <div class="col-md-2 tab active">
                Rejestracja
            </div>
            <div class="col-md-2 tab">
                Logowanie
            </div>
        </div>
        <div class="row offset-md-3 col-md-6 register-form">
            <div class="row col-md-12 header">
                <span>Załóż konto</span>
            </div>
            <div class="row col-md-12">
                <div class="form-group">
                    <label asp-for="Name" class="form-text"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group">
                    <label asp-for="LastName" class="form-text"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group">
                    <label asp-for="Email" class="form-text"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="row col-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="form-text"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row col-md-6">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="form-text"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row col-md-12" style="margin-top:15px;">
                <div class="form-group col-md-2">
                    <input type="submit" value="Dalej" class="btn btn-outline-dark" /><br />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}